{% extends 'myapp/base.html' %}

{% block body_block %}
    <h2>Subject: {{ topic.subject }}</h2>
    <p>{{ topic.num_responses }} people interested</p>
    {% if topic.intro_course %}
        <p>This is an introductory course.</p>
    {% else %}
        <p>This is not an introductory course.</p>
    {% endif %}
    <p>Average Age: {{ topic.avg_age }}</p>

    <form action="{% url 'myapp:topicdetail' topic.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

{% endblock %}